@import '../../../constants/variables.scss';

#search-container {
  display: flex;
  flex-direction: column;

  .search-header-image {
    @include header-image;  
  }
  
  #search-content-container {
    @include page-layout;
    
    display: flex;
    flex-direction: column;
  }
}

.search-post {
  margin-bottom: $post-margin;
  &:last-child { margin-bottom: 0px; }
}
