@import '../../../constants/variables.scss';

#explore-container {
  display: flex;
  flex-direction: column;
  
  .explore-header-image {
    @include header-image;
  }
  
  #explore-content-container {
    @include page-layout;
    
    display: flex;
    flex-direction: column;
  }
}

.explore-post {
  margin-bottom: $post-margin;
  &:last-child { margin-bottom: 0px; }
}
