@import '../../constants/variables.scss';

#landing-container {
  display: flex;
  flex-direction: column;
  padding: 60px 90px;
  
  position: relative;
  box-sizing: border-box;
  height: 100%;
  
  #landing-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #landing-nav-container {
      display: flex;
      flex-direction: row;

      .landing-link {
        margin-left: 24px;
      }
    }
  }

  #landing-main-content {
    position: relative;
    margin: auto 0px;
    top: -5%;
    
    h1 {
      margin: 0px;
      font-family: $dosis;
      font-weight: 700;
      font-size: 72px;
    }
    
    h2 {
      margin: 0px 0px 36px;
      font-family: $dosis;
      font-weight: 600;
      font-size: 60px;
    }

    p {
      margin: 0px 0px 48px;
      font-family: $open-sans;
      font-weight: 400;
      font-size: 24px;
      line-height: 155%;
    }
  }

  #landing-footer-graphic {
    position: absolute;
    object-fit: cover;

    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    z-index: -1;
  }
}

.landing-link {
  padding: 12px 36px;
  box-sizing: border-box;
  border-radius: 8px;
  color: $white;

  background: $blue;
  text-decoration: none;
  font-family: $open-sans;
  font-weight: 400;
  font-size: 18px;

  &.clear {
    background: none;
    color: $dark-gray;
  }

  &.large {
    padding: 16px 108px;
    font-size: 18px;
  }
}
