@import '../../../constants/variables.scss';

.post-create-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  
  background: $white;
  box-shadow: 0px 4px 10px rgba(94, 99, 102, 0.125);
  border-radius: 8px;
  font-family: $open-sans;

  .post-create-title {
    text-align: center;
    color: $dark-gray;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 2px;
  }
  
  label {
    display: flex;
    flex-direction: column;

    p {
      text-align: center;
      color: $mid-gray;
      font-weight: 400;
      font-size: 12px;
      margin: 0px 0px 18px;
    }
    
    textarea {
      margin-bottom: 18px;
      padding: 12px 18px;
      
      border-radius: 8px;;
      background: $light-gray;
      border: none;
      
      font-family: $open-sans;
      color: $dark-gray;
      font-weight: 400;
      font-size: 12px;
      
      &::placeholder {
        color: $mid-gray;
        font-weight: 400;
        font-size: 12px;
      }
    }
  }
}
