@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600;700&display=swap'); // Dosis
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap'); // Open Sans

$dosis: 'Dosis', sans-serif;
$open-sans: 'Open Sans', sans-serif;

$blue: #1E5779;
$white: #FFFFFF;
$error: #FF8B81;

$dark-gray: #404040;
$mid-gray: #8A8E90;
$light-gray: #F0F0F0;
$background: #F4F6F8;

$page-width: 960px;
$post-margin: 30px;

@mixin label-styling {
  margin: 0px 0px 9px;
  color: $dark-gray;

  font-family: $open-sans;
  font-weight: 400;
  font-size: 12px;
}

@mixin input-styling {
  padding: 12px 18px;
  color: $dark-gray;
  
  font-family: $open-sans;
  font-weight: 400;
  font-size: 12px;
  
  background: $light-gray;
  border-radius: 8px;
  border: none;

  &:-moz-ui-invalid {
      border: 2px solid $error;
      box-shadow: none;
  }
  
  &::placeholder {
      font-family: $open-sans;
      color: $mid-gray;
  }
}
