@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600;700&display=swap'); // Dosis
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap'); // Open Sans

$dosis: 'Dosis', sans-serif;
$open-sans: 'Open Sans', sans-serif;

$blue: #1E5779;
$white: #FFFFFF;
$error: #FF8B81;

$dark-gray: #404040;
$mid-gray: #8A8E90;
$light-gray: #F0F0F0;
$background: #F4F6F8;
