@import '../../../constants/variables.scss';

#user-page-container {
  display: flex;
  flex-direction: row;
  max-width: $page-width;
  margin: auto auto 48px;
}

.user-page-post {
  margin-bottom: $post-margin;
  &:last-child { margin-bottom: 0px; }
}
