@import '../../../constants/variables.scss';

#settings-container {
  display: flex;
  flex-direction: column;

  .settings-header-image {
    @include header-image;
  }

  #settings-content-container {
    @include page-layout;
    
    display: flex;
    flex-direction: column;

    form {
      font-family: $open-sans;
  
      fieldset {
        margin-bottom: 12px;
        &:last-child { margin-bottom: 0px; }
        padding: 0px;
        border: none;
  
        legend {
          margin-bottom: 18px;
          color: $dark-gray;
          font-weight: 400;
          font-size: 15px;
  
          padding: 0px;
        }
  
        .settings-input-container {
          display: flex;
          flex-direction: column;
          margin-bottom: 18px;
          
          color: $dark-gray;
          font-weight: 400;
          font-size: 12px;
          
          label {
            @include label-styling;
          }
        
          input, textarea {
            @include input-styling;
          }
        }
      }
    }
  }
}

.settings-signout-button {
  margin-bottom: 18px;
}
