@import '../../../constants/variables.scss';

#settings-container {
  display: flex;
  flex-direction: column;
  max-width: $page-width;
  margin: auto auto 48px;
  
  form {
    font-family: $open-sans;

    fieldset {
      margin-bottom: 12px;
      &:last-child { margin-bottom: 0px; }
      padding: 0px;
      border: none;

      legend {
        margin-bottom: 18px;
        color: $dark-gray;
        font-weight: 400;
        font-size: 15px;

        padding: 0px;
      }

      .settings-input-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 18px;
        
        color: $dark-gray;
        font-weight: 400;
        font-size: 12px;
        
        label {
          margin-bottom: 9px;
        }
      
        input, textarea {
          padding: 12px 18px;
          background: $light-gray;
          border-radius: 8px;
          border: none;
          
          font-family: $open-sans;
          color: $dark-gray;
          font-size: 12px;
          font-weight: 400;
          
          &::placeholder {
            font-family: $open-sans;
            color: $mid-gray;
          }
        }
      }
    }
  }
}