@import '../constants/variables.scss';

#app-main-container {
  display: flex;
  flex-direction: row;
}

#app-main-right-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

#app-main-content-container {
  overflow: auto;
}
