@import "../../../utils/variables.scss";

#user-page-container {
  display: flex;
  flex-direction: column;

  .user-page-header-image {
    @include header-image;
  }

  #user-page-content-container {
    @include page-layout;

    display: flex;
    flex-direction: row;
  }
}

.user-page-post {
  margin-bottom: $post-margin;
  &:last-child {
    margin-bottom: 0px;
  }
}
