@import "../../../utils/variables.scss";

#search-container {
  display: flex;
  flex-direction: column;

  .search-header-image {
    @include header-image;
  }

  #search-content-container {
    @include page-layout;

    display: flex;
    flex-direction: column;
  }
}

.search-noresults-container {
  margin-bottom: $post-margin;
  padding: 30px;
  background: $white;

  color: $dark-gray;
  font-family: $open-sans;
  font-weight: 400;
  font-size: 12px;

  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(94, 99, 102, 0.125);
  border: 1px solid $light-gray;
}

.search-post {
  margin-bottom: $post-margin;
  &:last-child {
    margin-bottom: 0px;
  }
}
